<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href='{{ article["url"] }}' target="_blank">
                <img src='{{ article["urlToImage"] }}' class="iconFormatting" />
            </a>
        </td>
        <td>
            <a href='{{ article["url"] }}' target="_blank">
                {{ delete_extra(article["title"], article["source"]["name"]) }}
            </a>
            <br>
            {% if article["description"] %} {{ article["description"] }} {% endif %}
        </td>
    </tr>
</table>