{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <h1>Search for News</h1>
        <form method = "POST" action = "/index">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <div class="form-group">
                    <input name = "search_term" id = "search_term" type = "text" />
                    <select class="form-control" name = "category_form" id="category_form">
                        {% for val, text in form.category_form.choices %}
                            <option value="{{ val }}">{{ text }}</option>
                        {% endfor %}
                      </select>
                </div>


            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
{% endblock %}
