<html>
    <head>
      <title>NewsAPI Search</title>
    </head>
    <body>
        <div>Microblog: <a href="/index">Home</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <hr>
        {% endif %}
        {% endwith %}
        <h1>Search for News</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.search_term.label }}<br>
                {{ form.search_term(size=32) }}
                {% for error in form.search_term.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>